@import 'tailwindcss';

@theme {
  --color-primary: #222;

  --color-black-haze-50: #f7f7f7;
  --color-black-haze-100: #efefef;
  --color-black-haze-200: #dcdcdc;
  --color-black-haze-300: #bdbdbd;
  --color-black-haze-400: #989898;
  --color-black-haze-500: #7c7c7c;
  --color-black-haze-600: #656565;
  --color-black-haze-700: #525252;
  --color-black-haze-800: #464646;
  --color-black-haze-900: #3d3d3d;
  --color-black-haze-950: #292929;

  --font-montserrat: 'Montserrat Variable', sans-serif;

  --background-image-hero: url('./images/background.webp');
}

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant active (&:where(.active, .active *));

/* ANIMACIONES */

.a-fade-to-bottom {
  animation: fade-to-bottom 0.5s ease-in-out;
}

@keyframes fade-to-bottom {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.a-fade-to-top {
  animation: fade-to-top 0.5s ease-in-out;
}

@keyframes fade-to-top {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.a-fade-to-left {
  animation: fade-to-left 0.5s ease-in-out;
}

@keyframes fade-to-left {
  0% {
    opacity: 0;
    transform: rotate(-10deg);
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.a-fade-to-right {
  animation: fade-to-right 0.5s ease-in-out;
}

@keyframes fade-to-right {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.a-fade-scale {
  animation: fade-scale 0.5s ease-in-out;
}

@keyframes fade-scale {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
