---
import AnimateContainer from './AnimateContainer.astro';
import SectionTitle from './SectionTitle.astro';
---

<div
  class="flex flex-col justify-center items-center lg:flex-row lg:justify-around gap-8 mx-5 md:mx-8"
>
  <div class="relative flex flex-col items-center justify-center">
    <picture>
      <img
        class="w-48 md:w-68 border-2 rounded-full border-primary dark:border-white"
        src="./images/avatar.svg"
        alt="Foto de Orlando López"
      />
    </picture>
    <button class="mt-4 md:mt-12">
      <a
        class="border-2 text-primary dark:text-white border-primary dark:border-white py-2 px-4 md:py-4 md:px-8 text-xl md:text-2xl rounded-md cursor-pointer inline-block dark:hover:bg-blue-500 hover:bg-violet-700 hover:text-white hover:scale-125 hover:border-0 transition"
        download
        href="./docs/CV Orlando Lopez.pdf">Descargar CV</a
      >
    </button>
  </div>
  <article
    class="w-full md:w-200 flex-wrap flex flex-col justify-center items-center gap-y-4 md:gap-y-8"
  >
    <SectionTitle className="md:text-6xl">
      Sobre <span class="text-violet-700 dark:text-blue-500">Mí</span>
    </SectionTitle>
    <AnimateContainer>
      <div>
        <p
          class="text-wrap text-sm md:text-xl text-primary dark:text-white
      text-justify font-montserrat"
        >
          <strong class="text-violet-700 dark:text-blue-500"
            >¡Hola! Soy Orlando López</strong
          >, un desarrollador front-end junior de 18 años con una gran pasión
          por crear interfaces de usuario que sean funcionales, atractivas y
          fáciles de usar. Actualmente estudio informática, lo que me ha
          permitido profundizar en el mundo del desarrollo web y aprender a
          combinar estética y usabilidad. Tengo experiencia trabajando con
          tecnologías como <strong class="text-violet-700 dark:text-blue-500"
            >React, Astro, Tailwind CSS, JavaScript y TypeScript</strong
          >, y siempre estoy buscando aprender más para mejorar mis habilidades.
          Mi objetivo es construir experiencias digitales que no solo se vean
          bien, sino que también ofrezcan interactividad y simplicidad.
          <span class="font-semibold"
            >¡Gracias por visitar mi portafolio y tomarte el tiempo de conocerme
            un poco más!</span
          >
        </p>
        <p
          class="text-sm md:text-xl text-primary dark:text-white text-justify font-montserrat"
        >
          La programación es una de mis mayores pasiones, y disfruto dedicar
          tiempo a desarrollar proyectos personales que me permiten explorar
          nuevas ideas, mejorar mis habilidades y estar en constante
          aprendizaje. Además de esto:
        </p>
      </div>
    </AnimateContainer>
    <ul
      class="text-sm md:text-xl text-primary dark:text-white font-montserrat md:list-disc flex flex-col list-none gap-2 md:gap-4"
    >
      <li>
        <strong class="text-violet-700 dark:text-blue-500"
          >Jugar VideoJuegos</strong
        > una actividad que me ayuda a relajarme y desconectar.
      </li>
      <li>
        <strong class="text-violet-700 dark:text-blue-500">Jugar fútbol</strong>
        , ya que es una excelente manera de mantenerme activo y conectar con amigos.
      </li>
      <li>
        <strong class="text-violet-700 dark:text-blue-500"
          >Ver videos relacionados con la programación</strong
        >
        , porque siempre encuentro algo nuevo que me inspira y me impulsa a seguir
        creciendo como desarrollador
      </li>
      <li>
        <strong class="text-violet-700 dark:text-blue-500"
          >Pasar tiempo con mis seres queridos</strong
        >
        , es la mejor manera de desestresarte y cambiar de aires ya que estar con
        las personas que amo me calma y me hace estar mas centrado.
      </li>
    </ul>
  </article>
</div>
