<div class="border-t-1 border-primary/50 dark:border-white mt-24">
  <p
    class="text-center text-lg font-montserrat text-primary/50 dark:text-white/70 py-8"
  >
    © 2025. Todos los derechos reservados.
  </p>
</div>
