<div class="flex flex-col justify-center pt-26 text-center relative">
  <article class="z-10 pb-4">
    <h2 class="text-5xl md:text-6xl text-primary py-4">Orlando L칩pez</h2>
    <h3
      class="text-2xl md:text-3xl text-neutral-800 font-montserrat font-medium tracking-tight pb-2"
    >
      Desarrollador Front-End Junior
    </h3>
    <h3
      class="text-2xl md:text-3xl text-violet-600 font-montserrat tracking-tight"
    >
      Ingeniero en Inform치tica en Formaci칩n
    </h3>
  </article>
  <picture
    class="flex justify-center items-center z-10 absolute top-[360px] md:top-[320px] w-full"
  >
    <img
      class="rounded-full size-[250px] md:size-[300px] border-4"
      src="./images/photo.webp"
      alt="Foto de Orlando L칩pez"
    />
  </picture>
  <img
    src="./images/background.webp"
    class="h-[455px] top-[180px] w-full relative"
  />
</div>
