---
import AnimateContainer from './AnimateContainer.astro';
---

<div class="flex flex-col justify-center pt-18 md:pt-26 text-center relative">
  <AnimateContainer>
    <article class="a-blurred-fade z-10 pb-4">
      <h2 class="text-4xl md:text-6xl text-primary dark:text-white py-4">
        Orlando L칩pez
      </h2>
      <h3
        class="text-xl md:text-3xl text-neutral-800 dark:text-white/70 font-montserrat font-medium tracking-tight pb-2"
      >
        Desarrollador Front-End Junior
      </h3>
      <h3
        class="text-xl md:text-3xl text-violet-600 dark:text-blue-500 font-montserrat tracking-tight"
      >
        Ingeniero en Inform치tica en Formaci칩n
      </h3>
    </article>
  </AnimateContainer>
  <div class="relative -top-20 md:top-0">
    <img
      src="./images/background.webp"
      class="h-90 md:h-[445px] top-[180px] w-full relative"
    />
    <AnimateContainer>
      <picture
        class="a-fade-in-up flex justify-center items-center z-10 absolute top-[80px] md:top-[30px] w-full"
      >
        <img
          class="rounded-full size-[220px] md:size-[300px] border-4"
          src="./images/photo.webp"
          alt="Foto de Orlando L칩pez"
        />
      </picture>
    </AnimateContainer>
  </div>
</div>
