<div class="flex flex-col justify-center mt-16 text-center relative">
  <article class="z-10">
    <h2 class="text-6xl text-primary py-4">Orlando L칩pez</h2>
    <h3
      class="text-3xl text-neutral-800 font-montserrat font-medium tracking-tight pb-2"
    >
      Desarrollador Front-End Junior
    </h3>
    <h3 class="text-3xl text-violet-600 font-montserrat tracking-tight">
      Ingeniero en Inform치tica en Formaci칩n
    </h3>
  </article>
  <picture class="flex justify-center items-center z-10">
    <img
      class="rounded-full size-[300px] border-4"
      src="./images/photo.webp"
      alt="Foto de Orlando L칩pez"
    />
  </picture>
  <div class="bg-hero bg-cover h-[399px] top-[320px] w-full absolute"></div>
</div>
