---
import Logo from '../icons/Logo.astro';
---

<aside class="flex justify-between mx-8 py-6">
  <picture class="ml">
    <Logo width="70" />
  </picture>
  <ul class="flex mt-6 mr-8 space-x-8">
    <li>
      <a
        class="uppercase font-semibold text-2xl tracking-wider inline-block hover:scale-125 hover:text-violet-700 transition"
        href="#">Inicio</a
      >
    </li>
    <li>
      <a
        class="uppercase font-semibold text-2xl tracking-wider inline-block hover:scale-125 hover:text-violet-700 transition"
        href="#about">Sobre Mí</a
      >
    </li>
    <li>
      <a
        class="uppercase font-semibold text-2xl tracking-wider inline-block hover:scale-125 hover:text-violet-700 transition"
        href="#technologies">Tecnologías</a
      >
    </li>
    <li>
      <a
        class="uppercase font-semibold text-2xl tracking-wider inline-block hover:scale-125 hover:text-violet-700 transition"
        href="#projects">Proyectos</a
      >
    </li>
    <li>
      <a
        class="uppercase font-semibold text-2xl tracking-wider inline-block hover:scale-125 hover:text-violet-700 transition"
        href="#contact">Contacto</a
      >
    </li>
  </ul>
</aside>
