---
const { className } = Astro.props;
import AnimateContainer from './AnimateContainer.astro';
---

<AnimateContainer>
  <h2
    class={`a-fade-in-left text-center text-primary dark:text-white text-5xl font-semibold tracking-wide ${className}`}
  >
    <slot />
  </h2>
</AnimateContainer>
