---
const { className } = Astro.props;
import AnimateContainer from './AnimateContainer.astro';
---

<AnimateContainer>
  <h2
    class={`a-fade-to-right text-center text-primary dark:text-white text-5xl font-semibold tracking-wide pt-28 md:pt-4 ${className} opacity-0`}
  >
    <slot />
  </h2>
</AnimateContainer>
