---
import ContactForm from '../components/ContactForm.astro';
import ContactInfo from '../components/ContactInfo.astro';
import SectionTitle from '../components/SectionTitle.astro';
import Copyright from '../components/Copy.astro';
---

<footer class="section min-h-auto bg-black-haze-100 p-28" id="contacto">
  <SectionTitle>Mí <span class="text-violet-700">Contacto</span></SectionTitle>
  <main class="flex justify-center gap-128 pt-12">
    <ContactInfo />
    <ContactForm />
  </main>
  <Copyright />
</footer>
