---
import SectionTitle from '../components/SectionTitle.astro';
---

<footer class="min-h-screen bg-black-haze-100 p-8" id="contact">
  <SectionTitle>Mí <span class="text-violet-700">Contacto</span></SectionTitle>
</footer>
