---
import ProjectCard from '../components/ProjectCard.astro';
import SectionContainer from '../components/SectionContainer.astro';
---

<SectionContainer id="projects" className="p-8">
  <h2 class="text-center text-primary text-5xl font-semibold tracking-wide">
    Proyectos <span class="text-violet-700">Recientes</span>
  </h2>
  <main>
    <ProjectCard />
  </main>
</SectionContainer>
