---
import ProjectCard from '../components/ProjectCard.astro';
import SectionContainer from '../components/SectionContainer.astro';
import SectionTitle from '../components/SectionTitle.astro';
---

<SectionContainer id="projects" className="p-8">
  <SectionTitle>
    Proyectos <span class="text-violet-700">Recientes</span>
  </SectionTitle>
  <main>
    <ProjectCard />
  </main>
</SectionContainer>
