---
import ProjectCard from '../components/ProjectCard.astro';
import SectionContainer from '../components/SectionContainer.astro';
import SectionTitle from '../components/SectionTitle.astro';

import AnimateContainer from '../components/AnimateContainer.astro';
---

<SectionContainer id="proyectos" className="p-2 md:p-18">
  <AnimateContainer>
    <SectionTitle className="a-fade-in-left">
      Proyectos <span class="text-violet-700 dark:text-blue-500"
        >Personales</span
      >
    </SectionTitle>
  </AnimateContainer>
  <main>
    <ProjectCard />
  </main>
</SectionContainer>
