---
import ProjectCard from '../components/ProjectCard.astro';
import SectionContainer from '../components/SectionContainer.astro';
import SectionTitle from '../components/SectionTitle.astro';
---

<SectionContainer id="proyectos" className="p-2 pt-12 md:p-18">
  <SectionTitle>
    Proyectos <span class="text-violet-700 dark:text-blue-500">Recientes</span>
  </SectionTitle>
  <main>
    <ProjectCard />
  </main>
</SectionContainer>
