---
import SectionContainer from '../components/SectionContainer.astro';
import StackCard from '../components/StackCard.astro';
---

<SectionContainer id="technologies" className="p-8">
  <h2 class="text-center text-5xl text-primary font-semibold tracking-wide">
    Stack de <span class="text-violet-700">Tecnologías</span>
  </h2>
  <main class="flex mt-10 justify-center gap-8 flex-wrap">
    <StackCard />
  </main>
</SectionContainer>
