---
import SectionContainer from '../components/SectionContainer.astro';
import StackCard from '../components/StackCard.astro';
import SectionTitle from '../components/SectionTitle.astro';

import AnimateContainer from '../components/AnimateContainer.astro';
---

<SectionContainer
  id="tecnologias"
  className="p-2 pt-2 md:p-16 flex flex-col items-center"
>
  <SectionTitle>
    Stack <span class="text-violet-700 dark:text-blue-500">Tecnológico</span>
  </SectionTitle>
  <AnimateContainer>
    <p
      class="a-fade-to-top w-full md:w-260 mt-4 md:mt-12 text-primary dark:text-white text-balance text-sm text-center md:text-xl font-montserrat opacity-0"
    >
      En mi camino de aprendizaje en el mundo del <strong
        class="text-violet-700 dark:text-blue-500">desarrollo web</strong
      >, he explorado y dominado diversas <strong
        class="text-violet-700 dark:text-blue-500">tecnologías</strong
      > que conforman mi stack actual. Cada <strong
        class="text-violet-700 dark:text-blue-500"
        >herramienta y lenguaje</strong
      > que utilizo refleja mi dedicación por entender a fondo los diferentes aspectos
      del desarrollo, Este proceso me ha permitido crear soluciones <strong
        class="text-violet-700 dark:text-blue-500"
        >digitales funcionales y escalables</strong
      >, siempre con el objetivo de adaptarme a las necesidades cambiantes del
      entorno tecnológico.
    </p>
  </AnimateContainer>
  <main class="flex mt-0 md:mt-16 justify-center gap-0 md:gap-12 flex-wrap">
    <StackCard />
  </main>
</SectionContainer>
