---
import '@fontsource/basic';
import '@fontsource-variable/montserrat';
import '../styles/global.css';
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Soy Orlando López Desarrollador Front-End. Descubre mis proyectos y habilidades en mi portfolio."
    />
    <title>Portfolio de Orlando López - Desarrollador Front-End Junior</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    width: 100%
    margin: 0;
    font-family: 'Basic', sans-serif;
    scroll-behavior: smooth;
  }
</style>
